nav {
  background-color: #22b383;
  height: 80px;
  color: aliceblue;
}
span {
  color: rgb(239, 249, 244);
}
.logo{
  height: 80px;
  width: 100px;
  margin-left: 10px;
}
.nav-link {
  color: aliceblue;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.nav-link:hover {
  cursor: pointer;
  background-color: rgba(13, 13, 10, 0.737);
}
.navbar-brand{
  padding-top:  25px;
  font-size: 50px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.blackIcon{
  color: black;
  
  }
  .blackIcon:hover{
    cursor: pointer;
    background-color:#081712a0 ;
  }

.btn {
  background-color: #22b383;
  color: black;
  font-weight: bold;
}
.productCard {
  margin-top: 90px;
  margin-left: 2%;
  margin-right: 2%;
}
.card {
  background-color: rgba(0, 0, 0, 0.692);
  color: antiquewhite;
  padding-top: 15px;
}
.card img {
  width: 150px;
  height: 150px;
  margin-left: 80px;
}
.card-text {
  height: 35px;
}
.main {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.712)),
    url(../../../assets/clastr-cloud-gaming-TXZthuG8XKA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
}
section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.712)),
    url(../../../assets/clastr-cloud-gaming-TXZthuG8XKA-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.active{
  background-color: rgba(13, 16, 15, 0.751);
}